/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

/*You can add your won color also */
/* ScrollToTop */
a {
  color: #7C4DFF;
  &:hover {
    color: #5f3ac5;
  }
}
.section-titile-bg {
  color: #7C4DFF;
}
.section-title {
  &::before {
    background-color: #7C4DFF;
  }
}
.subtitle {
  color: #7C4DFF;
}
.btn-common {
  background: #7C4DFF;
  &:hover {
    background: #5f3ac5 !important;
  }
  &:focus {
    background: #5f3ac5 !important;
  }
}
.btn-round {
  background: #7C4DFF !important;
  &:hover {
    background: #5f3ac5 !important;
  }
}
a.back-to-top {
  i {
    background-color: #7C4DFF;
  }
}
.slicknav_btn {
  border-color: #7C4DFF;
}
.slicknav_menu {
  .slicknav_icon-bar {
    background: #7C4DFF;
    &:hover {
      background: #7C4DFF;
    }
  }
}
.navbar {
  li.active {
    a.nav-link {
      color: #7C4DFF !important;
    }
  }
}
.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      &:hover {
        color: #7C4DFF !important;
      }
    }
  }
}
.dropdown {
  .dropdown-item {
    &:focus {
      color: #7C4DFF;
    }
    &:hover {
      color: #7C4DFF;
    }
  }
  .dropdown-menu {
    .dropdown-item.active {
      color: #7C4DFF;
      background-color: #fafafa;
    }
    .dropdown-item {
      &:active {
        color: #7C4DFF;
        background-color: #fafafa;
      }
    }
  }
}
.work-counter-widget {
  i {
    color: #7C4DFF;
  }
}
.portfolio-nav {
  ul.nav {
    li {
      a {
        &:hover {
          background: #7C4DFF;
        }
      }
      a.active {
        background: #7C4DFF;
      }
    }
  }
}
.about-single {
  i {
    color: #7C4DFF;
  }
  &:hover {
    i {
      background: #7C4DFF;
    }
  }
}
.Material-tab {
  ul.nav.nav-tabs {
    li {
      .active {
        background: #7C4DFF !important;
      }
    }
  }
}
.single-blog-post {
  .post-meta {
    a {
      &:hover {
        color: #7C4DFF;
      }
    }
  }
}
.contact-widget-section {
  .single-contact-widget {
    i {
      color: #7C4DFF;
    }
  }
}
.single-service-widget {
  i {
    color: #7C4DFF;
  }
}
#testimonial-carousel {
  .owl-pagination {
    .owl-page.active {
      span {
        background: #7C4DFF;
      }
    }
  }
}
.form-submit {
  button.btn-common.disabled {
    background: #7C4DFF !important;
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.owl-carousel {
  .owl-controls {
    .owl-page.active {
      span {
        border: none;
        background: #7C4DFF !important;
        opacity: 1;
      }
    }
  }
}
.Material-tab-default {
  ul.nav.nav-tabs {
    li.active {
      a {
        color: #7C4DFF;
      }
    }
  }
  .nav-tabs {
    .nav-item.show {
      .nav-link {
        color: #7C4DFF;
      }
    }
    .nav-link.active {
      color: #7C4DFF;
    }
  }
}
.Material-default-accordion {
  .panel-default {
    .panel-heading {
      a {
        background-color: #7C4DFF;
      }
    }
  }
}
.icon-round {
  background: #7C4DFF;
}
.icon-box {
  background: #7C4DFF;
}
.icon-common {
  color: #7C4DFF;
}
.price {
  span {
    color: #7C4DFF;
  }
}
.pricing-button {
  a.btn-pricing {
    background-color: #7C4DFF;
  }
}
.Material-error-section {
  h1 {
    color: #7C4DFF;
  }
}
.comment-box {
  .form-control {
    font-weight: 500;
    color: #7C4DFF;
  }
  textarea {
    font-weight: 500;
    color: #7C4DFF;
  }
}
.find-widget {
  padding: 10px 0;
  i {
    background: #7C4DFF;
  }
}
.footer-widget-container {
  border-top: 4px solid #7C4DFF;
}
ul.footer-contact {
  li {
    span {
      background: #7C4DFF;
    }
  }
}
.footer-contact {
  ul {
    li {
      i {
        background: #7C4DFF;
        border-color: #7C4DFF;
      }
    }
  }
}
.page-footer {
  .link-widget {
    ul {
      li {
        a {
          &:hover {
            color: #7C4DFF;
          }
        }
      }
    }
  }
  .recent-widget {
    p {
      a {
        &:hover {
          color: #7C4DFF;
        }
      }
    }
  }
  .footer-title {
    &::before {
      background: #7C4DFF;
    }
  }
  .image-list {
    .post-content {
      .post-title {
        a {
          &:hover {
            color: #7C4DFF;
          }
        }
      }
    }
  }
  .widget {
    .unordered-list {
      li {
        a {
          &:hover {
            color: #7C4DFF;
          }
        }
      }
    }
  }
}
.form-group.is-focused {
  .form-control {
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7C4DFF), to(#7C4DFF)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#7C4DFF, #7C4DFF), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#7C4DFF, #7C4DFF), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#7C4DFF, #7C4DFF), linear-gradient(#D2D2D2, #D2D2D2);
  }
}
.features-block {
  .media-left {
    i {
      background: #7C4DFF;
    }
  }
}
.blog-sidebar-column {
  .single-sidebar-widget {
    .sidebar-widget-title {
      background: #7C4DFF;
    }
  }
  .categories-list {
    li {
      a {
        &:hover {
          color: #7C4DFF;
        }
      }
    }
  }
}
.tabs-style-2 {
  .nav-pills {
    .nav-link.active {
      color: #7C4DFF;
    }
    .show {
      >.nav-link {
        color: #7C4DFF;
      }
    }
  }
}
.pricing-table-3 {
  .table-header {
    background: #7C4DFF;
  }
}
.owl-theme {
  .owl-buttons {
    div {
      background: #7C4DFF !important;
    }
  }
}
