/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/*
Triadic Colors
#6E005D
#5D6E00
#3D4800
#819416
#005D6E
#003D48
#168194
Analagous Colors
#6E005D
#6E004B
#6E0038
#6E0026
#6D006E
#5A006E
#48006E
Complementary Colors
#6E005D
#006E11
#00480B
#002205
#16942A
#38BA4C
#65E178
Monochromatic Colors
#6E005D
#48003D
#22001C
#000000
#941681
#BA38A6
#E165CE
*/

.body { background-color: #6E005D; }
.colorMain { color: #6E005D; }
.bgColor0 { background-color: #6E005D; }
.bgColor1 { background-color: #5D6E00; }
.bgColor2 { background-color: #3D4800; }
.bgColor3 { background-color: #819416; }
.bgColor4 { background-color: #005D6E; }
.bgColor5 { background-color: #003D48; }
.bgColor6 { background-color: #168194; }
.fontColor0 { color: #6E005D; }
.fontColor1 { color: #5D6E00; }
.fontColor2 { color: #3D4800; }
.fontColor3 { color: #819416; }
.fontColor4 { color: #005D6E; }
.fontColor5 { color: #003D48; }
.fontColor6 { color: #168194; }


$theme-colors: (
        primary: #6E005D,
        secondary: #5D6E00,
        success: #3D4800,
        info: #819416,
        warning: #005D6E,
        danger: #003D48,
        light: #168194,
        dark: #343434,
);

/*! `Custom` Bootstrap 4 theme */

$enable-grid-classes:false;
$default:       #6E005D !default;
$primary:       #5D6E00 !default;
$secondary:     #3D4800 !default;
$success:       #819416 !default;
$info:          #005D6E !default;
$warning:       #003D48 !default;
$danger:        #168194 !default;
$dark:          #343434 !default;
$enable-gradients:true;
$spacer:0.7rem;
$border-width:0;
$btn-border-radius:1.35rem;

$primaryColor: #6e005d;
$primaryLightColor: #9f3c8a;
$primaryDarkColor: #3f0033;
$secondaryColor: #5d6e00;
$secondaryLightColor: #8d9c38;
$secondaryDarkColor: #314300;
$primaryTextColor: #fff;
$secondaryTextColor: #fff;