<!-- Material Pricing Table -->
<section class="Material-pricing-table-section section-padding">
	<div class="container">
		<h1 class="section-title text-center">
			Pricing Block 2
		</h1>
		<div class="row">
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".3s">
				<div class="pricing-table">
					<div class="pricing-header">
						<h1>Free</h1>
					</div>
					<div class="pricing-sub">
						<h1>$3.99<span>/Monthly</span></h1>
					</div>
					<ul class="features">
						<li>Free Live Support</li>
						<li>Unlimited Users</li>
						<li>No Time Tracking</li>
						<li>Free setup</li>
					</ul>
					<div class="pricing-footer">
						<a href="#link" class="btn btn-common">Purchase Now</a>
					</div>
				</div>
			</div>
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".4s">
				<div class="pricing-table">
					<div class="pricing-header">
						<h1>Premium</h1>
					</div>
					<div class="pricing-sub">
						<h1>$5.99<span>/Monthly</span></h1>
					</div>
					<ul class="features">
						<li>Free Live Support</li>
						<li>Unlimited Users</li>
						<li>No Time Tracking</li>
						<li>Free setup</li>
					</ul>
					<div class="pricing-footer">
						<a href="#link" class="btn btn-common">Purchase Now</a>
					</div>
				</div>
			</div>
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".5s">
				<div class="pricing-table">
					<div class="pricing-header">
						<h1>Platinum</h1>
					</div>
					<div class="pricing-sub">
						<h1>$9.99<span>/Monthly</span></h1>
					</div>
					<ul class="features">
						<li>Free Live Support</li>
						<li>Unlimited Users</li>
						<li>No Time Tracking</li>
						<li>Free setup</li>
					</ul>
					<div class="pricing-footer">
						<a href="#link" class="btn btn-common">Purchase Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Material Pricing Table End -->
