<!-- work-counter area -->
<section class="work-counter-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Single Counter -->
			<div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".2s">
				<div class="counter">
					<div class="icon"><i class="material-icons mdi mdi-medical-bag"></i></div>
					<div class="timer">768</div>
					<p>Project Delivered</p>
				</div>
			</div>
			<!-- Single Counter -->
			<div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".3s">
				<div class="counter">
					<div class="icon"><i class="material-icons mdi mdi-clock"></i></div>
					<div class="timer">900</div>
					<p>Working Hours</p>
				</div>
			</div>
			<!-- Single Counter -->
			<div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".4s">
				<div class="counter">
					<div class="icon"><i class="material-icons mdi mdi-cellphone-link"></i></div>
					<div class="timer">215</div>
					<p>Work Station</p>
				</div>
			</div>
			<!-- Single Counter -->
			<div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".5s">
				<div class="counter">
					<div class="icon"><i class="material-icons mdi mdi-cisco-webex"></i></div>
					<div class="timer">553</div>
					<p>International Clients</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- work-counter area end -->