<!--
 Copyright (c) 2019, the GoConnectX project authors.  Please see the AUTHORS file
 for details. All rights reserved. Use of this source code is governed by a
 BSD-style license that can be found in the LICENSE file.
-->
	<material-drawer temporary #drawer="drawer"
					 [class.custom-width]="customWidth"
					 [attr.end]="end ? '' : null"
					 [attr.overlay]="overlay ? '' : null"
	>
		<section class="md-background">
		<span><h3>Go<svg width="30" height="30" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#arrow-right-1"></use></svg>ConnectX</h3></span>
		</section>

		<div *deferredContent class="material-drawer gx-background text-white" >
			<div group class="mat-drawer-spacer"></div>
			<div group>
				<material-list-item>
					<a class="dropdown-item text-s text-s" [routerLink]="RoutePaths.landing.toUrl()" [routerLinkActive]="'active-route'">
						<span>
						<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
						</span> home
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shield-grid-1"></use></svg>
						</i> About
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.addProduct.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#add-to-cart-1"></use></svg>
						</i> Add Product
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.blogPost.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#messaging-1"></use></svg>
						</i> Blog Post
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.blogPosts.toUrl()" [routerLinkActive]="'active-route'">
						<i >
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#comments-1"></use></svg>
						</i> Blog Posts
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.discover.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#message-app-2"></use></svg>
						</i> Discover
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-trolley-1"></use></svg>
						</i> e-Commerce
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.login.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#keyhole-1"></use></svg>
						</i> Login
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#buy-1"></use></svg>
						</i> Product
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.profile.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#profile-settings-1"></use></svg>
						</i> Profile
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.register.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#pen-tool-1"></use></svg>
						</i> Register
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.searchSidebar.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#search-1"></use></svg>
						</i> Search
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.settings.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#settings-mixer-1"></use></svg>
						</i> Settings
					</a>
				</material-list-item>
			</div>

			<div group class="material-drawer md-background text-white">
				<div label>
					<h3>Tags</h3>
				</div>
				<material-list-item>
					<a href="#" class="dropdown-item text-white">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#stars-1"></use></svg>
						</i>Favorites

					</a>
				</material-list-item>
			</div>
		</div>
<section class="md-background">
<p> </p>
</section>
	</material-drawer>


<div class="material-content">
	<header class="material-header shadow">
		<div class="material-header-row">
			<material-button icon
							 class="material-drawer-button" (trigger)="drawer.toggle()">
			<div class="nav-brand">
				<svg width="50" height="50" class="theme-color-880"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#gcx-1"></use></svg>
			</div>
			</material-button>
			<span><a class="navbar-brand text-p rm-small-screen text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">{{name}}</a></span>
			<span><a class="navbar-brand text-p rm-standard-screen text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">{{abr}}</a></span>
			<div class="material-spacer"></div>
				<nav class="nav-item rm-small-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.home.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
						</i> Home
					</a>
				</nav>
				<nav class="nav-item rm-standard-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.home.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
						</i>
					</a>
				</nav>
				<nav class="nav-item rm-small-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#inbox-1"></use></svg>
						</i> Mail
					</a>
				</nav>
				<nav class="nav-item rm-standard-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#read-email-1"></use></svg>
						</i>
					</a>
				</nav>
				<nav class="nav-item rm-small-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-bag-2"></use></svg>
						</i> Shop
					</a>
				</nav>
				<nav class="nav-item rm-standard-screen">
					<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-bag-1"></use></svg>
						</i>
					</a>
				</nav>
		</div>
	</header>
	<router-outlet [routes]="Routes.all"></router-outlet>

</div>
<!--Do not use a reelect from old design-->
<!--
[routerLink]="RoutePaths.aboutUs.toUrl()"
[routerLinkActive]="'active-route'"
[routerLink]="RoutePaths.landing.toUrl()"
[routerLinkActive]="'active-route'"
-->


<!--Footer-->
<footer class="page-footer center-on-small-only  pt-0 footer-widget-container md-background">
	<!--Footer Links-->
	<div class="container pt-5 mb-5">
		<div class="row">
			<!--First column-->
			<div class="col-md-6 col-lg-3 col-xl-3 footer-contact-widget">
				<h3 class="footer-title">About Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos minus expedita illo recusandae esse labore obcaecati nisi amet quia odio sapiente! Fugiat, voluptatibus nemo necessitatibus porro.</p>
				<ul>
					<li>
						<a href="#">
							<i class="mdi">
								<svg width="34" height="34" class="theme-color-1007"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#instagram-1"></use></svg>
							</i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="mdi">
								<svg width="34" height="34" class="theme-color-986"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#github-2"></use></svg>
							</i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="mdi">
								<svg width="34" height="34" class="theme-color-1052"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#youtube-1"></use></svg>
							</i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="mdi">
							<svg width="34" height="34" class="theme-color-1010"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#pinterest-1"></use></svg>

							</i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="mdi">
								<svg width="34" height="34" class="theme-color-1051"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#yelp-1"></use></svg>
							</i>
						</a>
					</li>
				</ul>
			</div>
			<!--/.First column-->

			<!--Second column-->
			<div class="col-md-6 col-lg-3 col-xl-3 recent-widget">
				<h3 class="footer-title">Recent Posts</h3>
				<ul class="image-list">
					<li>
						<figure class="overlay">
							<img class="img-fluid" src="assets/images/art/a1.jpg" alt="">
							<figcaption><a href="blog-single.html"><i class="mdi mdi-link-variant from-top icon-xs"></i></a></figcaption>
						</figure>
						<div class="post-content">
							<h6 class="post-title"> <a href="blog-single.html">Fusce gravida tortor felis</a> </h6>
							<div class="meta"><span class="date">12 Jan 2019</span></div>
						</div>
					</li>
					<li>
						<figure class="overlay">
							<img class="img-fluid" src="assets/images/art/a2.jpg" alt="">
							<figcaption><a href="blog-single.html"><i class="mdi mdi-link-variant from-top icon-xs"></i></a></figcaption>
						</figure>
						<div class="post-content">
							<h6 class="post-title"><a href="blog-single.html">Ornare Nullam Risus Cursus</a></h6>
							<div class="meta"><span class="date">12 Jan 2019</span></div>
						</div>
					</li>
					<li>
						<figure class="overlay">
							<img class="img-fluid" src="assets/images/art/a3.jpg" alt="">
							<figcaption><a href="blog-single.html"><i class="mdi mdi-link-variant from-top icon-xs"></i></a></figcaption>
						</figure>
						<div class="post-content">
							<h6 class="post-title"> <a href="blog-single.html">Euismod Nullam Fusce Dapibus</a> </h6>
							<div class="meta"><span class="date">12 Jan 2019</span></div>
						</div>
					</li>
				</ul>
			</div>
			<!--/.Second column-->

			<!--Third column-->
			<div class="col-md-6 col-lg-3 col-xl-3 link-widget">
				<h3 class="footer-title">Get in Touch</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus.</p>
				<div class="mt-3"></div>
				<ul class="icon-list">
					<li><i class="mdi mdi-map-marker"></i> 548 San Francisco, CA </li>
					<li><i class="mdi mdi-email"></i> <a href="mailto:mail@material.com" class="nocolor">mail@material.com</a> </li>
					<li><i class="mdi mdi-phone-classic"></i> +00 (123) 456 78 90 </li>
					<li><i class="mdi mdi-cellphone-iphone"></i> +00 (121) 455 47 54 </li>
				</ul>
			</div>
			<!--/.Third column-->

			<!--Fourth column-->
			<div class="col-md-6 col-lg-3 col-xl-3 footer-contact">
				<h3 class="footer-title">Subscribe</h3>
				<div class="widget">
					<div class="newsletter-wrapper">
						<form method="post" id="subscribe-form" name="subscribe-form" class="validate">
							<div class="form-group">
								<input type="email" value="" name="EMAIL" class="email form-control" id="EMAIL" placeholder="Email Address" required="">
								<button type="submit" name="subscribe" id="subscribe" class="btn btn-common pull-right">Join</button>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div>
				 <!--/.widget-->
				<div class="widget">
					<h5 class="widget-title">Useful Links</h5>
					<ul class="unordered-list">
						<li>
							<a [routerLink]="RoutePaths.home.toUrl()"
							   [routerLinkActive]="'active-route'"
							>{{name}}</a>
						</li>
						<li>
							<a [routerLink]="RoutePaths.contactUs.toUrl()"
							   [routerLinkActive]="'active-route'"
							>Contact</a>
						</li>
						<li>
							<a [routerLink]="RoutePaths.blogPosts.toUrl()"
							   [routerLinkActive]="'active-route'"
							>Blog</a>
						</li>
						<li>
							<a [routerLink]="RoutePaths.licenses.toUrl()"
							   [routerLinkActive]="'active-route'"
							>Licenses</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/.Fourth column-->

		</div>
	</div>
	<!--/.Footer Links-->

	 <!--Copyright-->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>© {{copyright}}, made with love by
					<span><h3>Go<svg width="30" height="30" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#arrow-right-1"></use></svg>ConnectX</h3></span></p>

				</div>
			</div>
		</div>
	</div>
	<!--/.Copyright-->

</footer>

<!--/.Footer-->
