<!-- Alert Section -->
<section class="Material-alert-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
				<div class="alert alert-success" role="alert">
					<a href="#" class="alert-link">Well done! You successfully read this important alert message.</a>
				</div>
				<div class="alert alert-info" role="alert">
					<a href="#" class="alert-link">Heads up! This alert needs your attention, but it's not super important.</a>
				</div>
				<div class="alert alert-warning" role="alert">
					<a href="#" class="alert-link">Warning! Better check yourself, you're not looking too good.</a>
				</div>
				<div class="alert alert-danger" role="alert">
					<a href="#" class="alert-link">Oh snap! Change a few things up and try submitting again.</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 wow animated fadeInUp" data-wow-delay=".4s">
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<h4>Success!</h4>

					<p>Well done! You successfully read this important alert message.
						<a class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
				</div>
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<h4>Warning!</h4>

					<p>Well done! You successfully read this important alert message.
						<a class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
				</div>
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<h4>Danger!</h4>

					<p>Well done! You successfully read this important alert message.
						<a class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
				</div>
				<div class="alert alert-dismissible alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<h4>Info!</h4>

					<p>Well done! You successfully read this important alert message.
						<a class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Alert Section End -->
