<!-- Our BLog Section -->
<section class="matrl-blog-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Our Stories</h1>
			</div>
		</div>

		<div class="row">
			<!-- Single Article -->
			<div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
				<article class="single-blog-post">
					<!-- Featured Image -->
					<div class="featured-image">
						<a href="#">
							<img src="assets/images/blog/featured1.jpg" alt="">
						</a>
					</div>
					<!-- Post Meta -->
					<div class="post-meta">
						<!-- Title -->
						<a href="blog-single.html">
							<h2 class="subtitle">MUSIC for refreshment</h2>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum
						maiores dolorum similique obcaecati perspiciatis.</p>
					</div>
					<div class="meta-tags">
                        <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i> 24
                                Comments</a></span>
						<!-- Read More -->
						<a class="btn btn-round btn-fab" href="blog-single.html"><i
								class="material-icons mdi mdi-arrow-right"></i>
							<div class="ripple-container"></div>
						</a>
					</div>
				</article>
			</div>
			<!-- Single Article -->
			<div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".4s">
				<article class="single-blog-post">
					<!-- Featured Image -->
					<div class="featured-image">
						<a href="#">
							<img src="assets/images/blog/featured2.jpg" alt="">
						</a>
					</div>
					<!-- Post Meta -->
					<div class="post-meta">
						<!-- Title -->
						<a href="blog-single.html">
							<h2 class="subtitle">We support your custom</h2>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum
						maiores dolorum similique obcaecati perspiciatis.</p>
					</div>
					<div class="meta-tags">
                        <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i> 24
                                Comments</a></span>
						<!-- Read More -->
						<a class="btn btn-round btn-fab" href="blog-single.html"><i
								class="material-icons mdi mdi-arrow-right"></i>
							<div class="ripple-container"></div>
						</a>
					</div>
				</article>
			</div>
			<!-- Single Article -->
			<div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".5s">
				<article class="single-blog-post">
					<!-- Featured Image -->
					<div class="featured-image">
						<a href="#">
							<img src="assets/images/blog/featured3.jpg" alt="">
						</a>
					</div>
					<!-- Post Meta -->
					<div class="post-meta">
						<!-- Title -->
						<a href="blog-single.html">
							<h2 class="subtitle">We love photography</h2>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum
						maiores dolorum similique obcaecati perspiciatis.</p>
					</div>
					<div class="meta-tags">
                        <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i> 24
                                Comments</a></span>
						<!-- Read More -->
						<a class="btn btn-round btn-fab" href="blog-single.html"><i
								class="material-icons mdi mdi-arrow-right"></i>
							<div class="ripple-container"></div>
						</a>
					</div>
				</article>
			</div>
		</div>
		<div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
			<!-- Button -->
			<div class="col-md-12 text-center">
				<a href="blog.html" class="animated4 btn btn-common" data-ripple-color="#000"><i
						class="material-icons mdi mdi-lightbulb-outline"></i> Explore More Stories<div
						class="ripple-container"></div></a>
			</div>
		</div>
	</div>
</section>
<!-- Our BLog Section End -->