<!-- Tabs Section Start 2 -->
<section class="section-padding">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 Material-title-section wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Vision 2</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="Material-tab">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#business" role="tab"><i class="mdi mdi-account-multiple-outline"></i><br>Business</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#startup" role="tab"><i class="mdi mdi-flash-outline"></i><br>Startup</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#agency" role="tab"><i class="mdi mdi-all-inclusive"></i><br>Agency</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#saas" role="tab"><i class="mdi mdi-cloud-outline"></i><br>SaaS</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="business" role="tabpanel">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem modi maxime non nam sed voluptatum accusamus, minus, perspiciatis esse eveniet itaque voluptates quas dignissimos, voluptas quasi dolor. Quam, nesciunt, sapiente.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta, incidunt, facere, praesentium nisi blanditiis in magni quis quasi fugiat possimus quod quos illum maiores minus at assumenda sed numquam.</p>
						</div>
						<div class="tab-pane fade" id="startup" role="tabpanel" >
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam a iste cupiditate dolorum quas eaque laudantium libero, magnam sint unde non ab, quisquam amet excepturi repellat. Praesentium rem, incidunt nemo.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur provident dolorum temporibus, aperiam eaque excepturi perspiciatis amet commodi! Iste dolore sit ipsa autem unde molestias fugit inventore ex illo?</p>
						</div>
						<div  class="tab-pane fade" id="agency" role="tabpanel">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit laudantium officia voluptates maiores iste laborum aspernatur praesentium tenetur, debitis vero aliquid asperiores eum, nesciunt nam at quasi ducimus suscipit esse!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis placeat deleniti commodi sequi maxime sint saepe autem, nisi blanditiis optio itaque magnam possimus eius assumenda a facere officia, cupiditate quia.</p>
						</div>
						<div class="tab-pane fade" id="saas" role="tabpanel">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aut, dignissimos. Officiis veniam incidunt, soluta dicta! Atque esse corporis enim, adipisci alias quidem repellat nesciunt ipsa voluptates deserunt, totam vitae.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt aspernatur libero harum sint necessitatibus aliquid, nulla, mollitia expedita maiores dolorem nisi eaque ullam minima cupiditate provident ipsum quis dolor voluptatum?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tabs Section End 2 -->
