<!-- Material Pricing Table -->
<section class="Material-pricing-table-section section-padding">
	<div class="container">
		<h1 class="section-title text-center">
			Pricing Block 3
		</h1>
		<div class="row">
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".3s">
				<div class="pricing-table pricing-table-3 text-center">
					<div class="table-header">
						<h3>
							Basic
						</h3>
					</div>
					<div class="plan">
						<h3 class="price">
							$5.99
						</h3>
						<p class="period">
							30 Days Free Trial
						</p>
					</div>
					<div class="plan-info">
						<p>
							Free Live Support
						</p>
						<p>
							Unlimited Users
						</p>
						<p>
							No Time Tracking
						</p>
						<p>
							Free setup
						</p>
						<div class="button-area">
							<a href="#" class="btn btn-common btn-lg">
								Purchase Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".4s">
				<div class="pricing-table pricing-table-3 text-center">
					<div class="table-header">
						<h3>
							Standard
						</h3>
					</div>
					<div class="plan">
						<h3 class="price">
							$9.59
						</h3>
						<p class="period">
							10% Discount on renewal
						</p>
					</div>
					<div class="plan-info">
						<p>
							Free Live Support
						</p>
						<p>
							Unlimited Users
						</p>
						<p>
							No Time Tracking
						</p>
						<p>
							Free setup
						</p>
						<div class="button-area">
							<a href="#" class="btn btn-common btn-lg">
								Purchase Now
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".6s">
				<div class="pricing-table pricing-table-3 text-center">
					<div class="table-header">
						<h3>
							Premium
						</h3>
					</div>
					<div class="plan">
						<h3 class="price">
							$89.50
						</h3>
						<p class="period">
							30% Discount on renewal
						</p>
					</div>
					<div class="plan-info">
						<p>
							Free Live Support
						</p>
						<p>
							Unlimited Users
						</p>
						<p>
							No Time Tracking
						</p>
						<p>
							Free setup
						</p>
						<div class="button-area">
							<a href="#" class="btn btn-common btn-lg">
								Purchase Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Material Pricing Table End -->
