<!-- Material Pricing Table -->
<section class="Material-pricing-table-section section-padding">
	<div class="container">
		<h1 class="section-title text-center">
			Pricing Block 1
		</h1>
		<div class="row gg-pricing-table icon-table">
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".3s">
				<div class="single-pricing-table text-center clearfix">
					<!-- Heading -->
					<div class="pricing-table-heading">
						<div class="pricing-icon">
							<img src="assets/images/bicycle.png" alt="" class="center-block img-fluid">
						</div>
						<h2>Basic</h2>
					</div>
					<!-- Price -->
					<div class="price">
						<span>$5.50</span>
					</div>
					<!-- Price Item -->
					<div class="pricing-item">
						<ul>
							<li><p><strong>1</strong> User</p></li>
							<li><p><strong>Limited</strong> Projects</p></li>
							<li><p><strong>2GB</strong> Storage</p></li>
						</ul>
					</div>
					<!-- Button -->
					<div class="pricing-button">
						<a href="javascript:void(0)" class="btn btn-common"><i class="fa fa-check"></i> Buy Now<div class="ripple-container"></div></a>
					</div>
				</div>
			</div>
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".4s">
				<div class="single-pricing-table text-center clearfix">
					<!-- Heading -->
					<div class="pricing-table-heading">
						<div class="pricing-icon">
							<img src="assets/images/vespa-1.png" alt="" class="center-block img-fluid">
						</div>
						<h2>Standard</h2>
					</div>
					<!-- Price -->
					<div class="price">
						<span>$9.90</span>
					</div>
					<!-- Price Item -->
					<div class="pricing-item">
						<ul>
							<li><p><strong>2</strong> User</p></li>
							<li><p><strong>Unlimited</strong> Projects</p></li>
							<li><p><strong>20GB</strong> Storage</p></li>
						</ul>
					</div>
					<!-- Button -->
					<div class="pricing-button">
						<a href="javascript:void(0)" class="btn btn-common"><i class="fa fa-check"></i> Buy Now<div class="ripple-container"></div></a>
					</div>
				</div>
			</div>
			<!-- Single Table -->
			<div class="col-md-4 wow fadeInUp animated" data-wow-delay=".5s">
				<div class="single-pricing-table text-center clearfix">
					<!-- Heading -->
					<div class="pricing-table-heading">
						<div class="pricing-icon">
							<img src="assets/images/car.png" alt="" class="center-block img-fluid">
						</div>
						<h2>Premium</h2>
					</div>
					<!-- Price -->
					<div class="price">
						<span>$100.90</span>
					</div>
					<!-- Price Item -->
					<div class="pricing-item">
						<ul>
							<li><p><strong>20</strong> User</p></li>
							<li><p><strong>Unlimited</strong> Projects</p></li>
							<li><p><strong>200GB</strong> Storage</p></li>
						</ul>
					</div>
					<!-- Button -->
					<div class="pricing-button">
						<a href="javascript:void(0)" class="btn btn-common"><i class="fa fa-check"></i> Buy Now<div class="ripple-container"></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Material Pricing Table End -->
