<!-- Page Titile Area -->
<section class="page-title-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-center">
					<div class="title-middle">
						<h2 class="page-tagline">Meet our</h2>
						<h1 class="page-title">Team Single</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page Titile Area End -->

<!-- Our Team Single Section -->
<section class="team-single section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="team-thumb">
					<img class="img-fluid" src="assets/images/team/team1.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="team-text">
					<h3>Rob Percy</h3>
					<h5>Co-Founder</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tenetur, praesentium perferendis dolorum unde eligendi atque nulla modi. Esse totam deleniti dolor ut consectetur porro, ex nostrum iste maxime fugit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tenetur, praesentium perferendis dolorum unde eligendi atque nulla modi. Esse totam deleniti dolor ut consectetur porro, ex nostrum iste maxime fugit.</p>
					<div class="social-single">
						<a href="#"><i class="mdi mdi-twitter"></i></a>
						<a href="#"><i class="mdi mdi-facebook"></i></a>
						<a href="#"><i class="mdi mdi-dribbble"></i></a>
						<a href="#"><i class="mdi mdi-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Team Single Section -->

<!-- Our Team about Section -->
<section class="team-about section-padding section-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single-about">
					<h3>About Me</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias autem a cum! Magni, enim sed facilis. Ratione repellendus deserunt officiis ...</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single-about">
					<h3>My education</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias autem a cum! Magni, enim sed facilis. Ratione repellendus deserunt officiis ...</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single-about">
					<h3>My Experience</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias autem a cum! Magni, enim sed facilis. Ratione repellendus deserunt officiis ...</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Team about Section End -->