<!-- Our Team Section -->
<section class="team section-padding section-dark">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Our Team</h1>
			</div>
		</div>
		<div class="row">
			<!-- Single Team Widget -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".3s">
				<div class="single-team-widget">
					<img src="assets/images/team/team1.jpg" class="img-fluid" alt="">
					<div class="team-member-info">
						<div class="know-more">
							<a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
						</div>
						<h2 class="subtitle">Rob Percy</h2>
						<p>Co-Founder</p>
						<div class="social-profiles">
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Team Widget -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".4s">
				<div class="single-team-widget">
					<img src="assets/images/team/team2.jpg" class="img-fluid" alt="">
					<div class="team-member-info">
						<div class="know-more">
							<a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
						</div>
						<h2 class="subtitle">Jennifer L.</h2>
						<p>Graphic Designer</p>
						<div class="social-profiles">
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Team Widget -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".5s">
				<div class="single-team-widget">
					<img src="assets/images/team/team3.jpg" class="img-fluid" alt="">
					<div class="team-member-info">
						<div class="know-more">
							<a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
						</div>
						<h2 class="subtitle">Tom Hanks.</h2>
						<p>SEO Speacialist</p>
						<div class="social-profiles">
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Team Widget -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".6s">
				<div class="single-team-widget">
					<img src="assets/images/team/team4.jpg" class="img-fluid" alt="">
					<div class="team-member-info">
						<div class="know-more">
							<a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
						</div>
						<h2 class="subtitle">Emma Watson</h2>
						<p>Head Of Ideas</p>
						<div class="social-profiles">
							<a href="#"><i class="mdi mdi-twitter"></i></a>
							<a href="#"><i class="mdi mdi-facebook"></i></a>
							<a href="#"><i class="mdi mdi-dribbble"></i></a>
							<a href="#"><i class="mdi mdi-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Team Section End -->