<!-- Portfolio Section -->
<section class="matrl-portfolio-section section-padding section-dark">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-4 col-lg-4 col-xl-6  matrl-title-section wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Portfolio</h1>
			</div>
			<!-- Section Quote -->
			<div class="col-md-8 col-lg-8 col-xl-6  portfolio-nav mt-3 mb-3 wow animated fadeInRight"
				 data-wow-delay=".2s">
				<ul class="nav nav-pills">
					<li><a class="filter active" data-filter="all">All</a></li>
					<li><a class="filter" data-filter=".business">Business</a></li>
					<li><a class="filter" data-filter=".creative">Creative</a></li>
					<li><a class="filter" data-filter=".education">Education</a></li>
					<li><a class="filter" data-filter=".blog">Blog</a></li>
					<li><a class="filter" data-filter=".free">Free</a></li>
					<li><a class="filter" data-filter=".more">More</a></li>
				</ul>
			</div>
			<div class="portfolio-item-wrapper clearfix wow animated fadeInUp" data-wow-delay=".5s"
				 id="matrl-portfolio">
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 pb-4 mix business blog">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work1.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">A boat of hope</h2>
							</a>
							<p>Istambul, Turkey</p>
						</figcaption>
					</figure>
				</div>
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 mix education more">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work2.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">Visit to moon</h2>
							</a>
							<p>Nasa, USA</p>
						</figcaption>
					</figure>
				</div>
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 mix free education blog">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work3.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">Lighthouse of Cox</h2>
							</a>
							<p>Chittagong, Bangladesh</p>
						</figcaption>
					</figure>
				</div>
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 mix creative more business">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work4.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">Bug of the day</h2>
							</a>
							<p>Delhi, India</p>
						</figcaption>
					</figure>
				</div>
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 mix more free creative">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work5.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">Loard of the ring</h2>
							</a>
							<p>Novel, USA</p>
						</figcaption>
					</figure>
				</div>
				<!-- Single Portfolio Image -->
				<div class="col-md-6 col-lg-4 col-xl-4 mix blog business">
					<figure class="single-portfolio">
						<img class="img-fluid" src="assets/images/portfolio/work6.jpg" alt="">
						<figcaption class="hover-content">
							<a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i
									class="material-icons mdi mdi-arrow-right"></i>
								<div class="ripple-container"></div>
							</a>
							<a href="portfolio-single.html">
								<h2 class="subtitle">Wings of paper</h2>
							</a>
							<p>Venis, Italy</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row mt-4 wow animated fadeInUp" data-wow-delay=".3s">
			<div class="col-md-12 text-center">
				<a href="javascript:void(0)" class="animated4 btn btn-common" data-ripple-color="#000"><i
						class="material-icons mdi mdi-lightbulb-outline"></i> Explore more work<div
						class="ripple-container"></div></a>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio Section End -->
