<!-- About Section -->
<section class="matrl-about-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Single About -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".2s">
				<div class="about-single">
					<i class="material-icons mdi mdi-buffer"></i>
					<h2 class="subtitle">Bootstrap 4</h2>
					<p>Excepteur sint occaecat cupidatat non proidt, sunt in culpa qui.</p>
				</div>
			</div>
			<!-- Single About -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".3s">
				<div class="about-single">
					<i class="material-icons mdi mdi-lightbulb-on"></i>
					<h2 class="subtitle">Material Design</h2>
					<p>Excepteur sint occaecat cupidatat non proidt, sunt in culpa qui.</p>
				</div>
			</div>
			<!-- Single About -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".4s">
				<div class="about-single">
					<i class="material-icons mdi mdi-trending-up"></i>
					<h2 class="subtitle">Fast and Clean</h2>
					<p>Excepteur sint occaecat cupidatat non proidt, sunt in culpa qui.</p>
				</div>
			</div>
			<!-- Single About -->
			<div class="col-md-6 col-lg-3 col-xl-3 wow animated fadeInUp" data-wow-delay=".5s">
				<div class="about-single">
					<i class="material-icons mdi mdi-responsive"></i>
					<h2 class="subtitle">Fully Responsive</h2>
					<p>Excepteur sint occaecat cupidatat non proidt, sunt in culpa qui.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->