/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

/*
nav {
  @media (max-width: 1151px) {
    visibility: hidden;
  }

}
*/
@import "../../../../scss/theme/theme";
.gcx-slider{
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
}

.gcx-icons {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $secondary;
  @media only screen and (max-width: 600px){
    width: 34px;
    height: 34px;
  }
  @media only screen and (min-width: 600px){
    width: 44px;
    height: 44px;
  }
  @media only screen and (min-width: 768px) {
    width: 54px;
    height: 54px;
  }
  @media only screen and (min-width: 1200px)  {
    width: 44px;
    height: 44px;
  }

}
.gcx-slider-text{
  text-align: left;
  //padding-bottom: 5%;
  align-self: center;

  //!* Extra small devices (phones, 600px and down) *!
  @media only screen and (max-width: 600px) {
    padding-bottom: 3vh;
    font-size: medium;

  }

  //!* Small devices (portrait tablets and large phones, 600px and up) *!
  @media only screen and (min-width: 600px) {
    padding-bottom: 5vh;
    font-size: medium;
  }

  //!* Medium devices (landscape tablets, 768px and up) *!
  @media only screen and (min-width: 768px) {
    padding-bottom: 10vh;
    font-size: large;
  }

  //!* Large devices (laptops/desktops, 992px and up) *!
  @media only screen and (min-width: 992px) {
    padding-bottom: 15vh;
    font-size: large;
  }

  //!* Extra large devices (large laptops and desktops, 1200px and up) *!
  @media only screen and (min-width: 1200px) {
    padding-bottom: 20vh;
    font-size: x-large;
  }

}
.gcx-background-image-blur{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-size:cover;
  width: 110%;
  height: 110%;
  z-index:1;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
/*

!* Extra small devices (phones, 600px and down) *!
@media only screen and (max-width: 600px) {...}

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {...}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {...}

!* Large devices (laptops/desktops, 992px and up) *!
@media only screen and (min-width: 992px) {...}

!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {...}
*/
