<!-- Call to action Section -->
<section class="gcx-call-to-action-section" [style.background-image]="'url('+ photo +')'" >
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-8 col-lg-8 col-xs-12 animated fadeInLeft" data-wow-delay=".2s">
				<h1>{{Title}}</h1>
				<h3>{{SubTitle}}</h3>
			</div>
			<div class="col-md-4 col-lg-4 col-xs-12 mt-4 text-right animated fadeInRight" data-wow-delay=".3s">
				<a class="animated4 btn btn-primary"><i class="material-icons mdi mdi-apps"></i>{{btnMsg}}</a>
			</div>
		</div>
	</div>
</section>
<!-- Call to action Section End -->