/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

/* Call To Action */
@import "../../../../scss/theme/theme";
.gcx-call-to-action-section {
  display: inline-block;
  background: no-repeat scroll center center;
  background-size: cover;
  //background: url(../images/cta-bg.jpg) no-repeat scroll center center;
  @media only screen and (max-width: 600px) {
    h1 {
      color: $primaryTextColor;
      font-size: 26px;
      font-weight: 400;
    }
    h3 {
      font-size: 14px;
      color: $secondaryTextColor;
      text-transform: uppercase;
    }

  }
  @media only screen and (min-width: 600px) {
    h1 {
      color: $primaryTextColor;
      font-size: 45px;
      font-weight: 500;
    }
    h3 {
      font-size: 20px;
      color: $secondaryTextColor;
      text-transform: uppercase;
    }

  }
  @media only screen and (min-width: 768px) {
    h1 {
      color: $primaryTextColor;
      font-size: 52px;
      font-weight: 600;
    }
    h3 {
      font-size: 20px;
      color: $secondaryTextColor;
      text-transform: uppercase;
    }

  }
  @media only screen and (min-width: 1200px) {
    h1 {
      color: $primaryTextColor;
      font-size: 56px;
      font-weight: 700;
    }
    h3 {
      font-size: 24px;
      color: $secondaryTextColor;
      text-transform: uppercase;
    }

  }

}

