/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/* Call To Action */
/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/*
Triadic Colors
#6E005D
#5D6E00
#3D4800
#819416
#005D6E
#003D48
#168194
Analagous Colors
#6E005D
#6E004B
#6E0038
#6E0026
#6D006E
#5A006E
#48006E
Complementary Colors
#6E005D
#006E11
#00480B
#002205
#16942A
#38BA4C
#65E178
Monochromatic Colors
#6E005D
#48003D
#22001C
#000000
#941681
#BA38A6
#E165CE
*/
.body {
  background-color: #6E005D;
}

.colorMain {
  color: #6E005D;
}

.bgColor0 {
  background-color: #6E005D;
}

.bgColor1 {
  background-color: #5D6E00;
}

.bgColor2 {
  background-color: #3D4800;
}

.bgColor3 {
  background-color: #819416;
}

.bgColor4 {
  background-color: #005D6E;
}

.bgColor5 {
  background-color: #003D48;
}

.bgColor6 {
  background-color: #168194;
}

.fontColor0 {
  color: #6E005D;
}

.fontColor1 {
  color: #5D6E00;
}

.fontColor2 {
  color: #3D4800;
}

.fontColor3 {
  color: #819416;
}

.fontColor4 {
  color: #005D6E;
}

.fontColor5 {
  color: #003D48;
}

.fontColor6 {
  color: #168194;
}

/*! `Custom` Bootstrap 4 theme */
.gcx-call-to-action-section {
  display: inline-block;
  background: no-repeat scroll center center;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .gcx-call-to-action-section h1 {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
  }
  .gcx-call-to-action-section h3 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 600px) {
  .gcx-call-to-action-section h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
  }
  .gcx-call-to-action-section h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 768px) {
  .gcx-call-to-action-section h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
  }
  .gcx-call-to-action-section h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1200px) {
  .gcx-call-to-action-section h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
  }
  .gcx-call-to-action-section h3 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
}
