<!-- Tabs Section -->
<section class="material-tabs-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 material-title-section wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Vision 1</h1>
			</div>
		</div>

		<div class="row mt-2 wow animated fadeInUp" data-wow-delay=".4s">
			<div class="col-md-12">
				<div class="Material-tab-default">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs text-center" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Design</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#profile" role="tab">Development</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#messages" role="tab">Marketing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#settings" role="tab">UI & UX</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="home" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work1.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Perferendis et, veritatis enim voluptatem libero.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" >
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work2.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Delectus, aut ut totam quam inventore suscipit.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi.</p>
								</div>
							</div>
						</div>
						<div  class="tab-pane fade" id="messages" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work3.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">voluptatum itaque at. Expedita impedit facere.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="settings" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work4.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adi.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aut ut totam quam inventore suscipit ullam nostrum quisquam corrupti nesciunt voluptas necessitatibus, ab porro cupiditate optio mollitia, expedita, omnis? Quasi.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tabs Section End -->
