<!-- error section -->
<section class="Material-error-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="wow animated fadeInRight" data-wow-delay=".2s">{{errorCode}}</h1>
				<h2 class="wow animated fadeInRight" data-wow-delay=".4s">{{errorMsg}}</h2>
				<a href="#" class="wow animated fadeInUp btn btn-common mt-5" data-wow-delay=".6s"><i class="material-icons mdi mdi-home"></i> Back to home<div class="ripple-container"></div></a>
			</div>
		</div>
	</div>
</section>
<!-- error section end -->
