/*
nav {
  @media (max-width: 1151px) {
    visibility: hidden;
  }

}
*/
/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/*
Triadic Colors
#6E005D
#5D6E00
#3D4800
#819416
#005D6E
#003D48
#168194
Analagous Colors
#6E005D
#6E004B
#6E0038
#6E0026
#6D006E
#5A006E
#48006E
Complementary Colors
#6E005D
#006E11
#00480B
#002205
#16942A
#38BA4C
#65E178
Monochromatic Colors
#6E005D
#48003D
#22001C
#000000
#941681
#BA38A6
#E165CE
*/
.body {
  background-color: #6E005D;
}

.colorMain {
  color: #6E005D;
}

.bgColor0 {
  background-color: #6E005D;
}

.bgColor1 {
  background-color: #5D6E00;
}

.bgColor2 {
  background-color: #3D4800;
}

.bgColor3 {
  background-color: #819416;
}

.bgColor4 {
  background-color: #005D6E;
}

.bgColor5 {
  background-color: #003D48;
}

.bgColor6 {
  background-color: #168194;
}

.fontColor0 {
  color: #6E005D;
}

.fontColor1 {
  color: #5D6E00;
}

.fontColor2 {
  color: #3D4800;
}

.fontColor3 {
  color: #819416;
}

.fontColor4 {
  color: #005D6E;
}

.fontColor5 {
  color: #003D48;
}

.fontColor6 {
  color: #168194;
}

/*! `Custom` Bootstrap 4 theme */
.gcx-slider {
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
}

.gcx-icons {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #3D4800;
}
@media only screen and (max-width: 600px) {
  .gcx-icons {
    width: 34px;
    height: 34px;
  }
}
@media only screen and (min-width: 600px) {
  .gcx-icons {
    width: 44px;
    height: 44px;
  }
}
@media only screen and (min-width: 768px) {
  .gcx-icons {
    width: 54px;
    height: 54px;
  }
}
@media only screen and (min-width: 1200px) {
  .gcx-icons {
    width: 44px;
    height: 44px;
  }
}

.gcx-slider-text {
  text-align: left;
  align-self: center;
}
@media only screen and (max-width: 600px) {
  .gcx-slider-text {
    padding-bottom: 3vh;
    font-size: medium;
  }
}
@media only screen and (min-width: 600px) {
  .gcx-slider-text {
    padding-bottom: 5vh;
    font-size: medium;
  }
}
@media only screen and (min-width: 768px) {
  .gcx-slider-text {
    padding-bottom: 10vh;
    font-size: large;
  }
}
@media only screen and (min-width: 992px) {
  .gcx-slider-text {
    padding-bottom: 15vh;
    font-size: large;
  }
}
@media only screen and (min-width: 1200px) {
  .gcx-slider-text {
    padding-bottom: 20vh;
    font-size: x-large;
  }
}

.gcx-background-image-blur {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  width: 110%;
  height: 110%;
  z-index: 1;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/*

!* Extra small devices (phones, 600px and down) *!
@media only screen and (max-width: 600px) {...}

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {...}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {...}

!* Large devices (laptops/desktops, 992px and up) *!
@media only screen and (min-width: 992px) {...}

!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {...}
*/
