<!--     *********     HEADER 3      *********      -->
<!--
	<nav *ngFor="let c of data" class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
		<div class="container">
			<a class="navbar-brand mb-0" [href]="c.menus[0].menuLink">{{c.menus[0].menuName}}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent1">
				<ul class="navbar-nav ml-auto">
					<a [href]="c.menus[1].menuLink" class="btn btn-link btn-neutral">{{c.menus[1].menuName}}</a>
					<a [href]="c.menus[2].menuLink" class="btn btn-link btn-neutral">{{c.menus[2].menuName}}</a>
					<a [href]="c.menus[3].menuLink" class="btn btn-link btn-neutral">{{c.menus[3].menuName}}</a>
				</ul>
			</div>
		</div>
	</nav>
-->
<!--
<section>
	<div class="page-carousel">
		<div class="filter"></div>
		<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
			<ol id="ci-list" class="carousel-indicators">
			</ol>
			<template ngFor let-c [ngForOf]="data">
				<div *ngFor="let ci of c.carousels" class="carousel-inner">
					<div *ngIf="countTmp == ci.id" class="carousel-item active">
						<div class="d-block w-100 h-100" [style.background-image]="'url('+ ci.photo +')'"
							 style="   height: 100vh;
  									   width: 100vh;
  									   background-position: center;
									   background-repeat: no-repeat;
  									   background-size: cover;

							">
							<div class="filter"></div>
							<div class="content-center">
								<div class="container">
									<div class="row">
										<div class="col-md-6 text-left">
											<h1 class="title animated wow fadeInDown hero-heading" data-wow-delay=".4s">{{ci.title}}</h1>
											<h5 class="animated fadeInUp wow hero-sub-heading" data-wow-delay=".6s">{{ci.subTitle}}</h5>
											<br />
											<div class="buttons">
												<a [href]="c.callToAction['buttonLink']" class="animated fadeInUp wow btn btn-lg btn-green">
													{{c.callToAction['buttonText']}}
												</a>
												<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
													<i class="fa fa-twitter"></i>
												</a>
												<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
													<i class="fa fa-facebook-square"></i>
												</a>
												<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
													<i class="fa fa-get-pocket"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</template>
			<a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
				<span class="carousel-control" aria-hidden="true"><i class="mdi mdi-arrow-left" data-ripple-color="#F0F0F0"></i></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" role="button" (click)="next()" data-slide="next">
				<span class="carousel-control" aria-hidden="true"><i class="mdi mdi-arrow-right" data-ripple-color="#F0F0F0"></i></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

</section>
-->
<!--     *********    END HEADER 3      *********      -->
<!-- Main Carousel Section Start -->
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		<ol id="ci-list" class="carousel-indicators">
		</ol>
		<template ngFor let-c [ngForOf]="data">
			<div *ngFor="let ci of c.carousels" class="carousel-inner">
				<div *ngIf="countTmp == ci.id" class="carousel-item gcx-slider active">
					<img class="gcx-background-image-blur w-100" [src]="ci.photo">
					<div class="carousel-caption gcx-slider-text">
						<div class="content align-content-center">
							<div class="container">
								<div class="row">
									<div class="col-md-6 text-left">
										<h2 class="animated fadeInDown text-white " data-wow-delay=".4s">{{ci.title}}</h2>
										<h5 class="animated fadeInUp text-white" data-wow-delay=".6s">{{ci.subTitle}}</h5>
										<br>
										<div class="buttons">
											<a [href]="c.callToAction['buttonLink']" class="animated fadeInUp wow btn btn-lg btn-green">
												{{c.callToAction['buttonText']}}
											</a>
											<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
												<i class="fa fa-facebook-square"></i>
											</a>
											<a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
												<i class="fa fa-get-pocket"></i>
											</a>

										</div>
										<div class="ripple-container"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
			<span class="carousel-control" aria-hidden="true">
				<i>
					<svg class="theme-line-9 gcx-icons"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#angle-left-circle-1"></use></svg>
				</i></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control-next" role="button" data-slide="next" (click)="next()">
			<span class="carousel-control" aria-hidden="true">
				<i>
					<svg class="theme-line-9 gcx-icons"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#angle-right-circle-1"></use></svg>
				</i>
			</span>
			<span class="sr-only">Next</span>
		</a>
	</div>

<!-- Main Carousel Section End -->
