/* About Us Section
--------------------------------*/
#appshow img {
  max-width: 100%;
}

#appshow .about-content {
  padding-top: 60px;
}

#appshow .about-content h2 {
  color: #252525;
  font-family: "roboto";
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#appshow .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

#appshow .about-content ul li {
  line-height: 30px;
}

#appshow .about-content ul li .fa {
  padding-right: 20px;
}

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
