<section id="appshow" class="appshow padd-section">

	<div *ngFor="let c of data" class="container">
		<div class="row justify-content-center">

			<div class="col-md-5 col-lg-3">
				<img src="/static/images/PhoneApp/afzPhoneApp.png" alt="About">
			</div>

			<div class="col-md-7 col-lg-5">
				<div class="about-content">

					<h2><span>{{c.titleSpan}}</span>{{c.title}}</h2>
					<p>{{c.subTitle}}</p>
					<ul class="list-unstyled">
						<li *ngFor="let l of c.featuresList"><i class="fa fa-angle-right"></i>{{l}}</li>
					</ul>

				</div>
			</div>

		</div>
	</div>
</section>
