/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

.gcx-login {
  margin-top: 10%;

}

.gcx-login-photo {
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
