<!--     *********    Login 1     *********      -->
	<section class="gcx-login-photo" data-background="image" [style.background-image]="'url('+ img+')'">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5 col-md-12 col-xs-12">
						<div class="card gcx-login">
							<div class="card-header border-bottom text-center">
								<h4 class="card-title">Sign In</h4>
							</div>
							<div class="card-body">
								<form class="form-horizontal m-t-20">
									<div class="form-group">
										<input class="form-control" type="text" required="" placeholder="Username">
									</div>
									<div class="form-group">
										<input class="form-control" type="password" required="" placeholder="Password">
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck1">
											<label class="custom-control-label" for="customCheck1">Remember me</label>
										</div>
									</div>
									<div class="form-group text-center m-t-20">
										<button class="btn btn-default" type="submit">Log In</button>
									</div>
									<div class="form-group">
										<div class="float-right">
											<a href="#" class="text-muted"><i class="lni-lock"></i> Forgot your password?</a>
										</div>
										<div class="float-left">
											<a href="#" class="text-muted"><i class="lni-user"></i> Create an account</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
	</section>

<!--     *********    END CONTACT US 1      *********      -->

