@media (max-width: 1151px) {
  .tlm-page-header {
    position: relative;
  }
  .tlm-page-header h1 {
    font-size: x-large;
  }
  .tlm-page-header h2 {
    font-size: 1.4em;
  }
}

.tlm-fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.tlm-fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .tlm-fullscreen-bg-video .tlm-fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .tlm-fullscreen-bg-video .tlm-fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  .tlm-fullscreen-bg-video .tlm-fullscreen-bg__video {
    display: none;
  }
}

@media (max-width: 1151px) {
  nav {
    visibility: hidden;
  }
}
