<!-- Tabs Section start 3 -->
<section class="Material-tabs-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 Material-title-section wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Vision 3</h1>
			</div>
		</div>
		<div class="Material-tab-default tabs-style-2">
			<div class="row">
				<div class="col-lg-3 col-xs-12">
					<div class="nav flex-column nav-pills nav-vertical" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#home3" role="tab" aria-controls="v-pills-home" aria-selected="false">Home</a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#profile3" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
						<a class="nav-link active show" id="v-pills-messages-tab" data-toggle="pill" href="#messages3" role="tab" aria-controls="v-pills-messages" aria-selected="true">Messages</a>
						<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#settings3" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
					</div>
				</div>
				<div class="col-lg-9 col-xs-12">
					<!-- Tab panes -->
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="home3" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work1.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Perferendis et, veritatis enim voluptatem libero.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="profile3" role="tabpanel" >
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work2.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Delectus, aut ut totam quam inventore suscipit.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
								</div>
							</div>
						</div>
						<div  class="tab-pane fade" id="messages3" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work3.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">voluptatum itaque at. Expedita impedit facere.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at. Expedita impedit facere magnam commodi sed dolorem adipisci.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="settings3" role="tabpanel">
							<div class="row">
								<div class="col-md-4">
									<img src="assets/images/portfolio/work4.jpg" alt="">
								</div>
								<div class="col-md-8">
									<h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adi.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt dolores quibusdam, officia sed mollitia, illo, quis, vel veniam officiis qui repellendus. Perferendis et, veritatis enim voluptatem libero consequuntur eveniet alias nesciunt fugit doloremque tempora id, impedit sed earum voluptatum itaque at.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tabs Section End 3 -->
