<!-- Start Client Section -->
<div class="client section-padding section-dark">
	<div class="container">
		<div class="row">
			<div id="client-logo" class="owl-carousel">
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client1.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client2.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client3.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client4.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client1.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client2.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client3.png" alt="">
					</a>
				</div>
				<div class="client-logo item">
					<a href="#">
						<img class="img-fluid" src="assets/images/clients/client4.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Client Section -->
