<!-- Contact Us Section -->
<section class="matrl-contact-section section-padding section-dark">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Contact Us</h1>
			</div>
		</div>
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
				<div class="find-widget">
					<a href="#"><i class="material-icons mdi mdi-map-marker"></i>4435 Berkshire Circle Knoxville</a>
				</div>
				<div class="find-widget">
					<a href="#"><i class="material-icons mdi mdi-phone"></i> + 879-890-9767</a>
				</div>
				<div class="find-widget">
					<a href="#"><i class="material-icons mdi mdi-email-open mr-3"></i> support@matrl.com</a>
				</div>
				<div class="find-widget">
					<a href="#"><i class="material-icons mdi mdi-clock"></i> Mon to Sat: 09:30 AM - 10.30 PM</a>
				</div>
			</div>
			<!-- contact form -->
			<div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
				<form class="shake" role="form" method="post" id="contactForm" name="contact-form"
					  data-toggle="validator">
					<!-- Name -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">Name</label>
						<input class="form-control" id="name" type="text" name="name" required=""
							   data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- email -->
					<div class="form-group label-floating">
						<label class="control-label" for="email">Email</label>
						<input class="form-control" id="email" type="email" name="email" required=""
							   data-error="Please enter your Email">
						<div class="help-block with-errors"></div>
					</div>
					<!-- Subject -->
					<div class="form-group label-floating">
						<label class="control-label">Subject</label>
						<input class="form-control" id="msg_subject" type="text" name="subject" required=""
							   data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- Message -->
					<div class="form-group label-floating">
						<label for="message" class="control-label">Message</label>
						<textarea class="form-control" rows="3" id="message" name="message" required=""
								  data-error="Write your message"></textarea>
						<div class="help-block with-errors"></div>
					</div>
					<!-- Form Submit -->
					<div class="form-submit mt-5">
						<button class="btn btn-common" type="submit" id="form-submit"><i
								class="material-icons mdi mdi-message-outline"></i> Send Message</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- Contact Us Section End -->