<!-- Welcome Section Start -->
<section class="welcome-section section-padding section-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-7 col-xs-12">
				<div class="welcome-content">
					<div class="text">
						<h1>Create Stunning Websites in Easier and Effecient Way!</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>
						<p>It has survived not only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged. It was popularised in the 1960s with the release of
						Letraset sheets containing Lorem Ipsum passages, and more recently. Excepteur sint occaecat
						cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
					<div class="button">
						<a href="" class="btn btn-common">
							Know More
							<div class="ripple-container"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-5 col-xs-12 welcome-column">
				<div class="video-gallery">
					<img class="img-fluid" src="assets/images/about/video.jpg" alt="">
					<div class="overlay-gallery">
						<div class="icon-holder">
							<div class="icon">
								<a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="video-popup wow fadeInUp"
								   data-wow-duration="1000ms" data-wow-delay="0.3s"><i
										class="mdi mdi-play-circle-outline"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Welcome Section End -->
