<!-- Services Section -->
<section class="matrl-service-section section-padding">
	<div class="container">
		<div class="row">
			<!-- Section Titile -->
			<div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
				<h1 class="section-title">Services</h1>
			</div>
		</div>
		<!-- Services Widget Section -->
		<div class="row">
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".3s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-chart-line-variant"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Discovery & Strategy</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".4s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-format-line-style"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Interface Design</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".5s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-store"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Branding</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".6s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-comment-outline"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Communication</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".7s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-camera"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Multimedia Production</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
			<!-- Service Widgets -->
			<div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp" data-wow-delay=".8s">
				<div class="media">
					<div class="media-left">
						<i class="material-icons pulse-shrink mdi mdi-code-tags"></i>
					</div>
					<div class="media-body">
						<h2 class="subtitle"><a href="#">Development solutions</a></h2>
						<p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services Section End -->