<!-- Start Testimonial Section  -->
<div class="testimonial section-padding">
	<div class="container">
		<div class="row">
			<!-- Testimonial section  -->
			<div class="testimonials-carousel owl-carousel">
				<div class="item">
					<div class="testimonial-item">
						<div class="img">
							<a href="#"><img class="img-fluid" src="assets/images/testimonial/author1.jpg" alt=""></a>
						</div>
						<div class="datils">
							<h5>Adam Schwartz</h5>
							<span>Software Articulate, Google</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's <br> standard dummy text ever since the 1500s Lorem Ipsum.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-item">
						<div class="img">
							<a href="#"><img class="img-fluid" src="assets/images/testimonial/author2.jpg" alt=""></a>
						</div>
						<div class="datils">
							<h5>Clark Brown</h5>
							<span>Brand Managerr</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's <br> standard dummy text ever since the 1500s Lorem Ipsum.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-item">
						<div class="img">
							<a href="#"><img class="img-fluid" src="assets/images/testimonial/author3.jpg" alt=""></a>
						</div>
						<div class="datils">
							<h5>Ana Blunt</h5>
							<span>Creative Director</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's <br> standard dummy text ever since the 1500s Lorem Ipsum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Section  -->